body,html{
  height: 100%;
}

html {
  width: 100%;
}

body{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/background-image.jpg");
  background-attachment: fixed;
}

h2{
  color: white;
  font-family: 'Monoton', cursive;
  font-size: 3.5em;
}

h3{
  font-family: 'Lato', cursive;
  color: red;
  font-size: 2em;
}

p{
  font-family: 'Lato', cursive;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.container{
  margin-top: 1.5em;
  background-color: rgba(255, 255, 255, 0.6);
  height: -100vh;
  padding-bottom: 3em;
  margin-bottom: 1.5em;
}

.custom-file-input{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1em;
}

.wrong-file{
  display: none;
}

.audio-file-label{
  color: white;
  font-size: 1em
}

.delete-button{
  margin-top: 0.5em
}

.blinking {
	animation: blinker 0.5s linear infinite;
}
@keyframes blinker {
  50% { opacity: 0; }
}

#loading{
  display: none;
}

/*  ANIMATED COMPONENTS */

.title{
  animation: fadein 2s;
  color: white;
  text-align:center;
  margin-top: auto;
  margin-left: -54.5%;
  margin-right: -54.5%;
  padding-top: 2em;
  padding-bottom: 2em;
}

.description{
  text-align: center;
}

.description-word{
  color: white;
}

.delay-1{
  animation: fadein 3s;
  text-align: center;
  display: inline
}

.delay-2{
  animation: fadein 4s;
  text-align: center;
  display: inline}

.delay-3{
  animation: fadein 5s;
  text-align: center;
  display: inline
}

.information-words{
  font-size: 1em;
}

.song-card{
  margin-top: 2em;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}


#content{
  margin-top: 8em;
}

/***** MEDIA QUERIES ******/

@media only screen and (max-width: 450px){

  h2{
    font-size: 2em;
  }
  h3{
    font-size: 1.5em;
  }
  p{
    font-size: 0.8em;
  }
  .title{
    margin-top: 0.1em;
    margin-left: auto;
    margin-right: auto;
  }
  .container{
    margin-right: auto;
  }
  .row{
    margin-left: -12em;
    margin-right: -12em;
  }
}
