body,html{
  height: 100%;
}

html {
  width: 100%;
}

body{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/background-image.jpg");
  background-attachment: fixed;
}

h2{
  color: red;
  font-family: 'Monoton', cursive;
}

h3{
  font-family: 'Permanent Marker', cursive;
  color: red;
}

p{
  font-family: 'Quicksand', cursive;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.container{
  background-color: rgba(255, 255, 255, 0.6);
  height: -100vh;
  margin-bottom: 3em;
}

.custom-file-input{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.wrong-file{
  display: none;
}

.audio-file-label{
  color: white;
  font-size: 1em
}

.delete-button{
  margin-top: 0.5em
}

.blinking {
	animation: blinker 0.5s linear infinite;
}
@keyframes blinker {
  50% { opacity: 0; }
}

#loading{
  display: none;
}

/*  ANIMATED COMPONENTS */

.title{
  animation: fadein 2s;
}

.description-1{
  animation: fadein 3s;
  text-align: center;
  display: inline
}

.description-2{
  animation: fadein 4s;
  text-align: center;
  display: inline}

.description-3{
  animation: fadein 5s;
  text-align: center;
  display: inline
}


@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}


#content{
  margin-top: 8em;
}
